img{
    border-radius: 50%;
}
hr{
    width: 200px;
}
body{
    background-color: #f1f3f4;
}
header,nav,article,section,footer{
    display: block;
}
.all{
background: linear-gradient(326deg, #77b9f3, #7681eb, #c376eb, #eb76ea, #e96d6d);
background-size: 1000% 1000%;
-webkit-animation: AnimationName 3s ease infinite;
-moz-animation: AnimationName 3s ease infinite;
animation: AnimationName 3s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
.top_nav{
    float: left;
    font-family: Tahoma;
    padding: 25px;
}
.top_nav ul li{
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
}
.top_nav ul li a{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(60, 60, 168);
}
.top_nav ul li a:hover{
    color: black;
    font: bolder;
}
.pp{

}
.h_a{
  padding: inherit;
  border: 1.5px;
  border-radius: 30px;
  background-color: white;
}
.main_view{
    padding-top: 100px;
    padding-bottom: 175px;
    border-radius: 60px;}
.main_view {
  color: white;
}
